.idea/
node_modules/
/*.*
wp-admin/
wp-includes/
wp-content/index.php
wp-content/plugins
wp-content/uploads
wp-content/upgrade
wp-content/languages
wp-content/themes/*
wp-content/themes/iqwik/assets/public/js
wp-content/themes/iqwik/style.css
wp-content/themes/iqwik/version.php
!.babelrc
!.editconfig
!.gitignore
!package.json
!webpack.config.js
!postcss.config.js
!wp-content/themes/iqwik
